<%- include('partials/header', { title: 'All Posts' }) %>

<h1>All Posts</h1>
<a href="/name">Create New Post</a>
<ul>
  <% if (posts.length === 0) { %>
    <li>No posts yet.</li>
  <% } else { %>
    <% posts.forEach(post => { %>
      <li>
        <strong><%= post.name %></strong>: <%= post.content %>
        <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <a href="/edit/<%= post.id %>">Edit</a>
      </li>
    <% }) %>
  <% } %>
</ul>

<%- include('partials/footer') %>
